<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>liste des livres</title>
</head>
<body>
    <a href="/bibliotheque/ajout" ajouter un livre ></a>
    <h1> liste des livres</h1>
    <ul>
        {% for l in liste %}
        <li> livre {{l}} <a href="/bibliotheque/affiche/{{l.id}}/"> afficher </a> </li>
            <a href="/bibliotheque/update/{{l.id}}/"> update</a>
            <a href="/bibliotheque/delete/{{l.id}}/"> delete</a>
        {% endfor %}
    </ul>
</body>
</html>